<br><br><br> <br>
<a class="btn btn-success" type="button" href="/">home page</a>
<a class="btn btn-success" type="button" href="/inputsGet">add product</a>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 ">
    <% if (products.length>0) { %>
      <% products.forEach(product=>{ %>
        <div class="card">
          <div class="card-body">

            <h6>Product Name:</h6>
            <div>
              <%= product.ProductName%>
            </div>
            <h6>Product Description:</h6>
            <div>
              <%= product.ProductDescription%>
            </div>
            <h6>Product Picture:</h6>
            <img src="\productsImages\<%= product.ProductPicture %>" alt="product picture">
            <br>
            <a type="submit" class="btn btn-danger" href="/editProductGet/<%=product.ProductID%>"> edit </a>


          </div>
        </div>
        <% }) %>
          <% }else{ %>
            <h3>
              no products to display
            </h3>
          <%}%>

  </div>
</div>