
<div class="part1">
   <div class="main1">
      <h1 class="mainTitlePart1">global pharmaceutical group </h1>
      <h1 class="subTitlePart1">care to cure</h1>
      <button type="button" class="btn btn-outline-light btn-lg main1button">get started</button>
      <button type="button" class="btn btn-outline-light btn-lg main1button"> <i class="bi bi-play-circle"></i> watch video</button>
   </div>
</div>

<div class="part2">
   <div class="row">
      <div class="part21 col-lg-6 ">
         <h4 class="mainTitlePart21">global pharmaceutical group </h4>
         <div class="ppart21A">
            is a group of companies specialized in different type of activities in the pharmaceuticals field including manufacturing, promotion, importation and distribution activities in Egypt. The group is working on an integrated style of business relation with completely independent management to provide the end consumer, the patients, the best quality of products and services. The group activities started in 1997, with Makram Mehany Pharma (MMP), scientific office for sales and marketing, established and grown up to add importation, distribution activities and finally pharmaceuticals production in Egypt. The manufacturing sites are operating with the GMP standards of Pharmaceuticals production.
         </div>
         <ul class="listPart21">
            <li class="itemListPart21"><i class="bi bi-check-circle check"></i> global napi pharmaceuticals</li>
            <li class="itemListPart21"><i class="bi bi-check-circle check"></i> global pharmaceutical industries</li>
            <li class="itemListPart21"><i class="bi bi-check-circle check"></i> global adavnces pharmaceuticals </li>
         </ul>
         <div class="ppart21B">
            The Group has 2 scientific offices , promoting the products of the 3 plants allover Egypt and visiting doctors and Health Care Professionals in both governmental and private hospitals, private clinics, pharmacies and health centers. The first one is MMP office established in 1987, followed by 3MP office in 2004. Both offices are in Cairo center with 4 branches in 4 major cities including Alexandria, Tanta, Mansoura & Assuit. The manpower of the 2 offices together is close to 800 persons of qualified teams of pharmacists, Vet doctors & Physician in addition to supportive functions of IT, HR, Finance & Administration teams. The teams are getting frequent on the job training as well as class room training on the different skills needed in their day to day work.
         </div>
      </div>

      <div class="part22 col-lg-6">
         <img  src="images/about.png" width="550" height="270" alt="company image">
      </div>
   </div>
    
   
   <div class="part23 row">
      <div class="dpart23 col-lg-3 col-md-4 col-sm-6">3 <span class="spart23">Manufacturing Plants</span></div>
      <div class="dpart23 col-lg-3 col-md-4 col-sm-6">500 <span class="spart23">Products</span></div>
      <div class="dpart23 col-lg-3 col-md-4 col-sm-6">3000 <span class="spart23">Hard Workers</span></div>
      <div class="dpart23 col-lg-3 col-md-4 col-sm-6">60000 <span class="spart23">Happy Clients</span></div>
   </div>
   
   <div class="part24 row">
      <div class="col-lg-3">
         <button class="Bpart24" onclick="Show1()">
            <img src="images/GNPlogo.png" width="200" height="100" alt="GNP logo">
            <div>GLOBAL NAPI PHARMACEUTICALS</div>
         </button>
         <button class="Bpart24" onclick="Show2()">
            <img src="images/GPIlogo.png" width="200" height="100" alt="GPI logo">
            <div>GLOBAL PHARMACEUTICAL INDUSTRIES</div>
         </button>
         <button class="Bpart24" onclick="Show3()">
            <img src="images/GAPlogo.png" width="200" height="100" alt="GAP logo">
            <div>GLOBAL ADVANCED PHARMACEUTICALS</div>
         </button>
      </div>
      
      <div class="col-lg-9">
         <div id="dpart24A">
            <h3>GLOBAL NAPI PHARMACEUTICALS</h3>
            <img src="images/GNP_banner.png" width="500" height="100" alt=" GNP banner">
            <div>
               Global NAPI Pharmaceuticals (GNP) was established as a private investment company in 1997, designed and licensed for pharmaceutical formulations production in Egypt. Since that time, with a dramatic progress and respected presence in the pharmaceuticals market, GNP not only introduced to the Egyptian market its own branded generic formulations, but also established several license agreements with multinational pharmaceutical companies like MSD, Sanofi, Pierre Fabre, Elerte and others, in addition to, manufacturing agreements with Bayer Consumer Care, Novartis, Pfizer, Roche, Boehringer Ingelheim and Stada for local Egyptian market supply.
            </div>
            <div>
               GNP products are covering a wide range of therapeutic areas, with more than 100 brand names in tablets, capsules, solutions, syrups, ointments, creams, gels, and suppositories forms. Many of these brands are market leader in their classes. GNP is ranked No.9 within the pharmaceutical companies in Q3 /2014.
            </div>
         </div>
         <div id="dpart24B">
            <h3>GLOBAL PHARMACEUTICAL INDUSTRIES</h3>
            <img src="images/GPI_banner.jpg" width="500" height="100" alt="GPI banner">
            <div>
               GLOBAL PHARMACEUTICAL INDUSTRIES (GPI), a sister company to GNP, was inaugurated in 2013 for production of sterile injectable products. GPI, a state of the art manufacturing facility, is currently operating in preparation, filling and packaging of both solutions and lyophilized products. Two Production lines are available for ampoules (1-5 ml, solution or freeze-dried) and for vials (1-100 ml, solution or freeze-dried)
            </div>
            <div>
               Production started in August 2013 with many of GPI & GNP injectable brands. Contract manufacturing to Pfizer, Amoun, Sandoz, Ranbaxy & Roche were established and many of their products are already available in the Egyptian market.
            </div>
         </div>
         <div id="dpart24C">
            <h3>GLOBAL ADVANCED PHARMACEUTICALS</h3>
            <img src="images/GNP_banner.png" width="500" height="100" alt=" GAP banner">
            <div>
               Global Advanced Pharmaceuticals (GAP)- Currently Known as Pharmapack- is a mega project of 7 production modules for different pharmaceutical forms including Soft Gelatin Capsules, Uni-dose Inhalation form, Ophthalmic Preparations, Oncology Products, Cephalosporins, in addition to, traditional forms like Solid, Liquid & Semisolid forms. Land area is 63,000 m2, layout and design was done by a German consultant Construction started in February 2013, and production is expected to start by 2016
            </div>
         </div>
      </div>
   </div>
    

</div>

<div class="part3">
    
</div>

<div class="part4">
   <div class="part42">
      <h3>contact</h3>
      <div class="row rpart42">
         <div class="col-lg-6 row1"> 
            <i class="bi bi-geo-alt ipart42"></i>
            <h4>Our Address</h4>
         </div>
         <div class="col-lg-3 col-md-6 row1">
            <i class="bi bi-envelope ipart42"></i>
            <h4>Email Us</h4>
         </div>
         <div class="col-lg-3 col-md-6 row1">
            <i class="bi bi-telephone ipart42"></i>
            <h4>Call Us</h4>
         </div>
      </div>
      
      <div class="row rpart42">
         <div class="col-lg-6 row2 ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.9461125141916!2d31.33882921444158!3d29.980978628524312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145839bf18c56113%3A0x487b0179c07370c7!2sGlobal%20Pharmaceutical%20group%20Scientific%20Office%20HQ!5e0!3m2!1sen!2seg!4v1631915366950!5m2!1sen!2seg" width="550" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
         </div>
         <div class="col-lg-6 row2 ">
            <form action="" method="POST">
               <input  class="input1_2" type="text " placeholder="Your Name">
               <input class="input1_2" type="email" placeholder="Your Email">
               <input class="input3" type="text" placeholder="Subject">

            </form>
         </div>
      </div>
   </div>
    
</div>

 
