<div class="registerBG">
  <div class="text-center">
    
    <main class="form-signin">
      <form action="/login" method="post">
        <img  src="images/96.png" alt="" width="auto" height="auto">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
          <input type="text" name="username" class="form-control" id="floatingInput" placeholder="username">
          <label for="floatingInput">username</label>
        </div>
        <div class="form-floating">
          <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

        <!-- <div class="signin_part1">
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
          <a  href="#" onclick="signOut();">Sign out</a>
          <script>
            function onSignIn(googleUser) {
              var profile = googleUser.getBasicProfile();
              console.log('ID: ' + profile.getId()); 
              console.log('Name: ' + profile.getName());
              console.log('Image URL: ' + profile.getImageUrl());
              console.log('Email: ' + profile.getEmail()); 

              var id_token = googleUser.getAuthResponse().id_token;
              var xhr = new XMLHttpRequest();
              xhr.open('POST', '/login');
              xhr.setRequestHeader('Content-Type', 'application/json');
              xhr.onload = function() {
                  console.log('Signed in as: ' + xhr.responseText);
                  if(xhr.responseText == 'success'){
                      signOut();
                      location.assign('/profile')
                  }
              };
              xhr.send(JSON.stringify({token : id_token}));
              }
          </script>
      
          <script>
            function signOut() {
              var auth2 = gapi.auth2.getAuthInstance();
              auth2.signOut().then(function () {
                console.log('User signed out.');
              });
            }
          </script>
          </div> -->
          <a href="<%= loginLink %>">sign in</a>
        <button class="w-100 btn btn-lg btn-primary" type="submit" >Sign in</button>
        <p class="mb-3 text-muted">have account?<a href="/login" class="btn btn-link">login</a></p>
      </form>
    </main>
    
    
        
</div>
</div>
