/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Playfair+Display:wght@600&family=Raleway:wght@400;700&display=swap');

/*part1*/
.part1{
    color: beige;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/background1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.main1{
    padding: 20% 7% ; 
    text-transform: uppercase;
    
}

.mainTitlePart1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 280%;

}

.subTitlePart1{
    font-family: 'Playfair Display', serif;
    font-size: 250%;
    text-align: center;
    padding-right: 1em;
}

.main1button{
    border-radius: 0;
    border: 2px solid;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding-left: 25px;
    padding-right: 25px;
    
}

.main1button:hover{
    background-color:#f14e2a;
    color: white;
    border-color: #f14e2a;
    transition: 0.5s;
}

/*part2*/
.part2{
    padding: 7%;
    background-color: whitesmoke;  
}

.part21{
    /* padding: 7% ; */
}

.mainTitlePart21{
    color: rgb(58, 57, 57);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    
}

.ppart21A{
    color: rgb(92, 89, 89);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
}

.ppart21B{
    color: rgb(63, 62, 62);
    font-family: 'Raleway', sans-serif;
}

.listPart21{
    margin: 15px 0 ;
    padding: 0;
    list-style: none;
}

.check{
    font-size: 20px;
    padding-right: 4px;
    color: #f14e2a;
}

.itemListPart21{
    color: rgb(92, 89, 89);
    text-transform: uppercase;
    font-size: 90%;
    padding-top: 8px;
    
}

.part22{
    margin-top: 3%;
}

.part23.row{
    margin: 5% ;
    text-align: center;
}

.dpart23{
    color:#f14e2a;
    font-size: 250%;
    /* width: 25%; */
    padding: 0;
}

.spart23{
    display: block;
    font-size: 40%;
    text-align: center;
    color: rgb(92, 89, 89);
}

.part24{
    /* margin: 20px 0 0 105px; */

}

.Bpart24{
    background-color: transparent ;
    display: block;
    border: 0;
    border-left: 5px white solid;
    margin-bottom: 15px;
    
}

.Bpart24:hover{
    color:#f14e2a;
    border-left: 5px rgb(206, 205, 205) solid;
}




#dpart24B,#dpart24C{
    display: none;
}

/*part3*/
.part3{
    /* display: flex; */
    color: beige;
    width: 100%;
    height: 100vh;
    background-image: url(/images/background2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/*part4*/
.part4{
    background-color: whitesmoke;  
}

.part42{
    margin: 0 7%;
    text-align: center;
}

/* .rpart42A{
    margin-left: 20px;

} */

.row1{
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgb(187, 187, 187);
}

.ipart42{
    color:#f14e2a;
    font-size: 35px;
}

.row2{
    padding-left: 0;
    margin-top: 50px;

}

.input1_2,.input3{
    border: 2px rgb(187, 187, 187) solid;
    width: 49.5%;
    height: 40px;
    /* margin-left: 10px; */
    padding: 15px;
}

.input3{
    width: 100%;
    margin: 10px 0 ;
}

/*****************************************************************************************************************/
/* modified classes/tags  */
/*html*/
html{
    overflow-x: hidden;
}
/*body*/
body{
    margin: 0;
    padding: 0;
    
}

/*navbar*/

.container-fluid{
    text-align: center;
}

.navbar-brand{
    margin: 0;
    padding-left: 7%;
}

.nav-item.dropdown{
    padding-left: 18px;
}

.nav-link.dropdown-toggle{
    font-size: 0.85em;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .nav-link.dropdown-toggle  {
    color:#f14e2a;
    
}

.nav-item.dropdown::after{
    content:'';
    position:absolute;
    width:74%;
    height:0.13em;
    left:25px;
    bottom:6px;
    background: #f14e2a;

}

.nav-item.dropdown::after{
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ;
}

.nav-item.dropdown:hover::after{
    transform:scale(1,1);
    height:0.13em;
    
}

/*row*/
.row{
    padding: 0;
    margin: 0;
}

/*register& login*/
.text-center{
    width: 25%;
    margin: 3% 0 0 6%;
    border-radius: 5%;
    
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}


.signin_part1{
    display: block;
}

.registerBG{
    padding-top: 5%;
    height: 100vh;
    background-image: url(/images/about.png);
    background-size: cover;
    
}

.form-signin{
    margin: 0 auto ;
    
    width: 75%;
}

/*media query*/
@media(max-width:800px){

.main1{
    padding: 60% 10%;
    text-align: center;
}

.mainTitlePart1{
    font-size: 180%;
}

.subTitlePart1{
    font-size: 180%;
    padding-left: 6%;
    
}

.input1_2{
    width: 100%;
    margin-top: 5%;
}

.text-center{
    width: 80%;
    margin: 25% auto 0 auto;
}



}

